{% extends 'parking_service/base.html' %}

{% block content %}
<h1>Admin Panel</h1>

<!-- For Admins -->
{% if user.userrole.is_admin %}
    <div>
        <a href="{% url 'adminapp:user_management' %}" role="button">User Management</a>
        <a href="{% url 'finance:tariffs_list' %}" role="button">Parking tariffs</a>
        <a href="{% url 'adminapp:payments_management' %}" role="button">Payment Management</a>
        <a href="{% url 'adminapp:vehicles_management' %}" role="button">Vehicles Management</a>
        <a href="{% url 'adminapp:add_parking_spots' %}" role="button">Add parking spots</a>
        <a href="{% url 'adminapp:parking_spots_list' %}" role="button">Parking spots</a>
    </div>
<!-- For Operators -->
{% elif user.userrole.is_operator %}
    <div>
        <a href="{% url 'adminapp:user_management_operator' %}" role="button">User Management</a>
        <a href="{% url 'finance:tariffs_list' %}" role="button">Parking tariffs</a>
        <a href="{% url 'adminapp:payments_management' %}" role="button">Payment Management</a>
        <a href="{% url 'adminapp:vehicles_management' %}" role="button">Vehicles Management</a>
    </div>
{% endif %}

{% endblock %}