{% extends 'parking_service/base.html' %}

{% block content %}
<h1>User Management</h1>

<form method="get" action="{% url 'adminapp:user_management' %}" style="display: flex; align-items: center; gap: 10px; flex-wrap: wrap;">
    <div style="position: relative; flex-grow: 1; max-width: 100%;">
        <input type="text" name="query" value="{{ query }}" placeholder="Search by email, nickname, or ID" style="width: 100%; padding-right: 40px;">
        <a href="{% url 'adminapp:vehicles_management' %}" style="position: absolute; right: 15px; top: 35%; transform: translateY(-50%); color: #aaa; text-decoration: none; font-size: 35px;">&times;</a>
    </div>
    <button type="submit" style="width: 120px;">Search</button>
</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Nickname</th>
            <th>Role</th>
            <th>Status</th>
            <th>Actions</th>
            <th>Vehicles</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.nickname }}</td>
            <td>
                {% if user.userrole.is_admin %}
                Admin
                {% else %}
                <form method="post" action="{% url 'adminapp:change_role' user.id %}">
                    {% csrf_token %}
                    <select name="role" onchange="this.form.submit()">
                        <option value="Customer" {% if user.userrole.role == 'Customer' %}selected{% endif %}>Customer</option>
                        <option value="Operator" {% if user.userrole.role == 'Operator' %}selected{% endif %}>Operator</option>
                        <option value="Admin" {% if user.userrole.role == 'Admin' %}selected{% endif %}>Admin</option>
                    </select>
                </form>
                {% endif %}
            </td>
            <td>
                <div>
                    {% if user.userrole.is_verified %}Verified{% else %}Not Verified{% endif %}
                </div>
                <div>
                    {% if user.userrole.is_active %}Active{% else %}Blocked{% endif %}
                </div>
            </td>
            <td>
                {% if not user.userrole.is_admin %}
                    <form method="post" action="{% url 'adminapp:change_user_status' user.id %}">
                        {% csrf_token %}
                        <select name="action">
                            <option value="">Select action</option>
                            <option value="verify" {% if user.userrole.is_verified %}disabled{% endif %}>Verify</option>
                            <option value="unverify" {% if not user.userrole.is_verified %}disabled{% endif %}>Unverify</option>
                            <option value="block" {% if not user.userrole.is_active %}disabled{% endif %}>Block</option>
                            <option value="unblock" {% if user.userrole.is_active %}disabled{% endif %}>Unblock</option>
                        </select>
                        <button type="submit" style="display: none;"></button>
                    </form>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'adminapp:vehicles_management' %}?user_id={{ user.id }}" class="btn btn-primary">All Vehicles</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    document.querySelectorAll('select[name="action"]').forEach(select => {
        select.addEventListener('change', function (event) {
            const form = this.closest('form');
            const action = this.value;
            let message = '';

            switch (action) {
                case 'verify':
                    message = 'Are you sure you want to verify this user?';
                    break;
                case 'unverify':
                    message = 'Are you sure you want to unverify this user?';
                    break;
                case 'block':
                    message = 'Are you sure you want to block this user?';
                    break;
                case 'unblock':
                    message = 'Are you sure you want to unblock this user?';
                    break;
            }

            if (message && confirm(message)) {
                form.submit();
            } else {
                this.value = '';
            }
        });
    });
</script>
{% endblock %}