{% extends 'parking_service/base.html' %}

{% block content %}
<h1>User Management</h1>

<form method="get" action="{% url 'adminapp:user_management' %}" style="display: flex; align-items: center; gap: 10px; flex-wrap: wrap;">
    <div style="position: relative; flex-grow: 1; max-width: 100%;">
        <input type="text" name="query" value="{{ query }}" placeholder="Search by email, nickname, or ID" style="width: 100%; padding-right: 40px;">
        <a href="{% url 'adminapp:vehicles_management' %}" style="position: absolute; right: 15px; top: 35%; transform: translateY(-50%); color: #aaa; text-decoration: none; font-size: 35px;">&times;</a>
    </div>
    <button type="submit" style="width: 120px;">Search</button>
</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Nickname</th>
            <th>Role</th>
            <th>Status</th>
            <th>Vehicles</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.nickname }}</td>
            <td>
                {% if user.userrole.is_admin %}
                Admin
                {% else %}
                {{ user.userrole.role }}
                {% endif %}
            </td>
            <td>
                <div>
                    {% if user.userrole.is_verified %}Verified{% else %}Not Verified{% endif %}
                </div>
                <div>
                    {% if user.userrole.is_active %}Active{% else %}Blocked{% endif %}
                </div>
            </td>
            <td>
                <a href="{% url 'adminapp:vehicles_management' %}?user_id={{ user.id }}" class="btn btn-primary">All Vehicles</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}