{% extends "parking_service/base.html" %}

{% block content %}
<h1 style="display: flex; align-items: center;">
    Vehicles Management
    <a href="{% url 'vehicles:new_vehicle' %}" role="button" style="margin-left: 20px;">Add new Vehicle</a>
</h1>
<form method="GET" action="{% url 'adminapp:vehicles_management' %}" style="display: flex; align-items: center; gap: 10px; flex-wrap: wrap;">
    <div style="position: relative; flex-grow: 1; max-width: 100%;">
        <input type="text" name="query" value="{{ query }}" placeholder="Search by user ID or plate number" style="width: 100%; padding-right: 40px;">
        {% if query %}
            <a href="{% url 'adminapp:vehicles_management' %}" style="position: absolute; right: 15px; top: 50%; transform: translateY(-50%); color: #aaa; text-decoration: none; font-size: 20px;">&times;</a>
        {% endif %}
    </div>
    <select name="status_filter" id="status_filter" style="width: 250px;">
        <option value="" {% if not status_filter %}selected{% endif %}>All vehicles</option>
        <option value="ACTIVE" {% if status_filter == "ACTIVE" %}selected{% endif %}>ACTIVE</option>
        <option value="BLOCKED" {% if status_filter == "BLOCKED" %}selected{% endif %}>BLOCKED</option>
        <option value="UNREGISTERED" {% if status_filter == "UNREGISTERED" %}selected{% endif %}>UNREGISTERED</option>
    </select>
    <button type="submit" style="width: 120px;">Search</button>
</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Number</th>
            <th>User</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for vehicle in page_obj %}
            <tr>
                <td>{{ vehicle.formatted_pk }}</td>
                <td><a href="{% url 'vehicles:detail_vehicle' pk=vehicle.pk %}">{{ vehicle.plate_number }}</a></td>
                <td>
                    <a href="{% if user_is_admin %}{% url 'adminapp:user_management' %}?user_id={{ vehicle.user.pk }}{% else %}{% url 'adminapp:user_management_operator' %}?user_id={{ vehicle.user.pk }}{% endif %}">
                        {{ vehicle.user.nickname }}
                    </a>
                </td>
                <td>{{ vehicle.status }}</td>
                <td>
                    <form method="post" action="{% url 'adminapp:change_vehicle_status' vehicle.pk %}">
                        {% csrf_token %}
                        <select name="action">
                            <option value="">Select action</option>
                            <option value="block" {% if vehicle.status == "BLOCKED" %}disabled{% endif %}>Block</option>
                            <option value="unblock" {% if vehicle.status == "ACTIVE" %}disabled{% endif %}>Unblock</option>
                            <option value="delete">Delete</option>
                        </select>
                        <button type="submit" style="display: none;"></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if query %}&query={{ query }}{% endif %}{% if status_filter %}&status_filter={{ status_filter }}{% endif %}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if query %}&query={{ query }}{% endif %}{% if status_filter %}&status_filter={{ status_filter }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if query %}&query={{ query }}{% endif %}{% if status_filter %}&status_filter={{ status_filter }}{% endif %}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&query={{ query }}{% endif %}{% if status_filter %}&status_filter={{ status_filter }}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<script>
    document.querySelectorAll('select[name="action"]').forEach(select => {
        select.addEventListener('change', function (event) {
            const form = this.closest('form');
            const action = this.value;
            let message = '';

            switch (action) {
                case 'block':
                    message = 'Are you sure you want to block this vehicle?';
                    break;
                case 'unblock':
                    message = 'Are you sure you want to unblock this vehicle?';
                    break;
                case 'delete':
                    message = 'Are you sure you want to delete this vehicle?';
                    break;
            }

            if (message && confirm(message)) {
                form.submit();
            } else {
                this.value = '';
            }
        });
    });
</script>
{% endblock %}