{% extends "parking_service/base.html" %}

{% block content %}

<h1>Detail Vehicle: {{ vehicle.plate_number }}</h1>

<a href="{% url 'vehicles:vehicles' %}">Back</a>

<p>Status: {{ vehicle.status }}</p>
<p>Total parking duration: {{ total_parking_duration }}</p>


<table>
    <thead>
        <th scope>ID</th>
        <th scope>Datetime</th>
        <th scope>Duration</th>
        <th scope>Tariff</th>
        <th scope>Invoice</th>
        <th scope>Status</th>
        <th scope>Detail</th>
    </thead>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% if page_obj %}
    <tbody>
        {% for session in page_obj %}
            <tr>
                <td>{{ session.pk }}</td>
                <td>{{ session.started_at }}</td>
                <td>{{ session.formatted_duration }}</td>
                <th></th>
                <th></th>
                <td>{{ session.status }}</td>
                <th><a href="{% url 'parking_service:detail_session' pk=session.pk %}">Detail</a></th>
            </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>
{% endblock %}
