{% extends "parking_service/base.html" %}

{% block content %}

<h1>My Vehicles</h1>

<table>
    <thead>
        <th scope>ID</th>
        <th scope>Number</th>
        <th scope>Status</th>
        <th scope>Delete Vehicle</th>
    </thead>
    {% if vehicles %}
    <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.pk }}</td>
                <td><a href="{% url 'vehicles:detail_vehicle' pk=vehicle.pk %}">{{ vehicle.plate_number }}</a></td>
                <td>{{ vehicle.status }}</td>
                <td>
                    <a href="{% url 'vehicles:del_vehicle' pk=vehicle.pk %}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-trash">Del</span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>


<a href="{% url 'vehicles:new_vehicle' %}" role="button">Add new Vehicle</a>


{% endblock %}
