<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Parking Management System</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
    {% load static %}
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="icon" href="{% static 'parking_service/favicon.ico' %}" />
</head>

<body>
    <main class="container">
        <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px; display: flex; justify-content: space-between;">
            <ul style="display: flex; align-items: center;">
                <li><a href="{% url 'parking_service:main' %}" role="button">Main Page</a></li>
                {% if user.is_authenticated %}
                    {% if user.userrole.is_admin or user.userrole.is_operator %}
                        <li><a href="{% url 'plate_recognition:upload' %}" role="button">Upload</a></li>
                        <li><a href="{% url 'finance:payments_list_by_user' %}" role="button">Payments</a></li>
                        <li><a href="{% url 'adminapp:admin_panel' %}" role="button">Admin Panel</a></li>
                        <li><a href="{% url 'finance:tariffs_list' %}" role="button">Tariffs</a></li>
                        <li><a href="{% url 'vehicles:vehicles' %}" role="button">Vehicles</a></li>
                    {% else %}
                        <li><a href="{% url 'vehicles:vehicles' %}" role="button">My Vehicles</a></li>
                        <li><a href="{% url 'finance:payments_list_by_user' %}" role="button">My Payments</a></li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul style="display: flex; align-items: center;">
                {% if user.is_authenticated %}
                    <li>Welcome <b>{{ user.nickname }}!</b></li>
                    <li><a href="{% url 'users:profile' %}" role="button">Profile</a></li>
                    <li><a href="{% url 'users:logout' %}" role="button">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'users:register' %}" role="button">Sign Up</a></li>
                    <li><a href="{% url 'users:login' %}" role="button">Sign In</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>
