{% extends "parking_service/base.html" %}

{% block content %}
<div style="display: flex;">
    <div style="flex: 3;">
        <h1 style="text-align: center;">Parking Spots</h1>
        <div style="display: grid; grid-template-columns: repeat(6, 1fr); gap: 7px;">
            {% for spot in parking_spots %}
            <article style="padding: 10px; border: 2px solid #444; border-radius: 10px;
                           background-color: {% if spot.vehicle %}#ffcccc{% else %}#ccffcc{% endif %};
                           text-align: center; color: #e0e0e0;">
                <header style="border-bottom: 2px solid #888; padding-bottom: 5px;">
                    <h2 style="font-size: 1em; margin: 0;">Spot {{ spot.id }}</h2>
                </header>
                {% if spot.vehicle %}
                <p style="font-size: 0.9em; margin: 0;">
                    Vehicle Plate:
                    <a href="{% url 'vehicles:detail_vehicle' pk=spot.vehicle.pk %}"
                       style="color: #0172ad; text-decoration: none; font-weight: bold;
                              border-bottom: 1px dashed #0172ad;">
                        {{ spot.vehicle.plate_number }}
                    </a>
                </p>
                {% else %}
                <p style="font-size: 0.9em; margin: 0;">Available</p>
                {% endif %}
            </article>
            {% endfor %}
        </div>
        <div style="display: flex; justify-content: space-between; margin-top: 20px;">
            {% if parking_spots.has_previous %}
            <a href="?page={{ parking_spots.previous_page_number }}"
               style="text-decoration: none; padding: 10px 20px; background-color: #0172ad; color: white;
                      border-radius: 5px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                Previous
            </a>
            {% endif %}
            <span style="padding: 10px 20px;">Page {{ parking_spots.number }} of {{ parking_spots.paginator.num_pages }}</span>
            {% if parking_spots.has_next %}
            <a href="?page={{ parking_spots.next_page_number }}"
               style="text-decoration: none; padding: 10px 20px; background-color: #0172ad; color: white;
                      border-radius: 5px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                Next
            </a>
            {% endif %}
        </div>
    </div>
    <aside style="flex: 1; margin-left: 20px;">
        <h2 style="text-align: center;">Current Tariffs</h2>
        <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 10px;">
            {% for tariff in tariffs %}
            <div style="width: 150px; padding: 10px; border: 2px solid #444; border-radius: 10px;
                        background-color: #e0f7fa; text-align: center;">
                <p style="font-size: 1em; margin: 0;">{{ tariff.description }}</p>
                <p style="font-size: 0.9em; margin: 5px 0;">{{ tariff.price_per_hour }} грн/год</p>
            </div>
            {% endfor %}
        </div>
    </aside>
</div>
{% endblock %}
