{% extends "parking_service/base.html" %}

{% block content %}

<h1>Detail Session {{ session.formatted_pk }}</h1>

<a href="{% url 'vehicles:detail_vehicle' pk=session.vehicle.pk %}">Back</a>


<table>
    <thead>
        <th scope>Info</th>
        <th scope>Value</th>
    </thead>
    <tbody>
        </tr>
            <th colspan="2"><b>Session</b></th>
        <tr>
        <tr>
            <td>Status:</td>
            <td>{{ session.status }}</td>
        </tr>
        <tr>
            <td>Start parking:</td>
            <td>{{ session.started_at }}</td>
        </tr>
        <tr>
            <td>End parking:</td>
            <td>{{ session.end_at }}</td>
        </tr>
        <tr>
            <td>Parking Duration:</td>
            <td>{{ session.formatted_duration }}</td>
        </tr>
        </tr>
            <th colspan="2"><b>Vehicle</b></th>
        <tr>
        <tr>
            <td>Plate Number:</td>
            <td>{{ session.vehicle.plate_number }}</td>
        </tr>
        <tr>
            <td>Status Vehicle:</td>
            <td>{{ session.vehicle.status }}</td>
        </tr>
        <tr>
            <td>Customer:</td>
            <td>{{ session.vehicle.user.nickname }}</td>
        </tr>
        </tr>
            <th colspan="2"><b>Payment</b></th>
        <tr>
        <tr>
            <td>Payment ID:</td>
            <td>{{ payment.formatted_pk }}</td>
        </tr>
        <tr>
            <td>Tariff:</td>
            <td>{{ payment.current_tariff }} UAH</td>
        </tr>
        <tr>
            <td>Full hours:</td>
            <td>{{ payment.full_hours }} </td>
        </tr>
        <tr>
            <td>Amount:</td>
            <td>{{ payment.amount }} UAH</td>
        </tr>
    </tbody>
</table>
{% endblock %}
